{{ define "main" }}
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <div class="post-details">
    <span>{{ emojify ":calendar:" }}</span>
    <time datetime="{{ .Date }}"
      >{{ .Date.Format "Monday, January 2, 2006" }}</time
    >
    <span>{{ emojify ":stopwatch:" }}</span> {{ .ReadingTime }} min read
    <span>{{ emojify ":books:" }}</span> published in {{ with .Params.categories
    }} {{ $sort := sort . }} {{ $links := apply $sort "partial" "tag" "." }} {{
    delimit $links ", " " and " }} {{ end }}
  </div>
  <div>
    <article id="content">{{ .Content }}</article>
  </div>
</section>
<aside id="meta"></aside>
{{ end }}
