<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta
    name="description"
    content="{{ if .Summary }}{{ .Summary }}{{ else }}{{ if .Description }}{{ .Description }}{{ else }}Timo Furrer Website{{ end }}{{ end }}"
  />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/css/theme.css" />
  {{ range .AlternativeOutputFormats -}} {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />
  ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
  <meta name="theme-color" content="#FFFFFF" />
  {{- if and ( .Params.gitGraph.enable ) (or .IsPage .IsHome) -}} {{
  .Site.Params.publicCDN.gitGraph.javascript | safeHTML }} {{- end }}
</head>
